@model IEnumerable<Timexis_1.Models.Attendance>

@{
    ViewBag.Title = "ApproveAttendence";
}

<h2>ApproveAttendence</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AttendanceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursWorked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Approval)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FullName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoursWorked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.ActionLink("Approve", "Edit", new { id = item.AttendanceID })
            </td>
        </tr>
    }
</table>

<div class="text-center">
    <a href="@Url.Action("CommonDasboardAfterLogin", "Users")" class="btn btn-primary">Go Back</a>
</div>
