<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Timexis Attendance Management</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Custom CSS -->
    <style>
        /* Add your custom styles here */
        body {
            font-family: 'Poppins', sans-serif;
            background-image: url('/Image/background_Index 1.jpg'); /* Replace 'path_to_your_background_image.jpg' with the actual path to your background image */
            background-size: cover;
            background-position: center;
            padding-top: 70px; /* Adjusted to account for navbar height */
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Timexis Attendance Management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("AdminDashboard", "Navigation")">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("ManagerDashboard", "Navigation")">Manager</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("EmployeeDashboard", "Navigation")">Employee</a>
                        </li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link">@User.Identity.Name</a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Logout", "Account")" class="btn btn-danger">Logout</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
